doctype html

head
  meta(charset='utf-8')
  link(rel='stylesheet', href='../stylesheets/style.css')
  title Game_of_Life
h1 GAME OF LIFE
form#form(action='/',method='POST')
      input#start(type='submit', method='POST', action='/', value='run', name='move')
      input#stop(type='submit', method='POST', action='/', value='stop', name='move')
      input#reset(type='submit',method='POST',action='/', value='startreset', name='move')
container
  div#grid
      each val in display
           != val
           br
p(id="data")
 script(src="/socket.io/socket.io.js")
 script.
  var starter;
    var run = document.getElementById("start");
    var stop = document.getElementById("stop");
    var setStarter = function() {
      starter = setInterval(clicker, 2000);
        };
    var clicker = function(){
      run.click();
    }
    var stopStarter = function() {
      clearInterval(starter);
    }

    run.addEventListener('click',setStarter());
    stop.addEventListener('click',stopStarter);
