doctype html

head
  meta(charset='utf-8')
  link(rel='stylesheet', href='../stylesheets/style.css')
  title Game_of_Life
h1 GAME OF LIFE
form#form(action='/',method='POST')
      input(id='start' type='submit', method='POST', action='/', value='run', name='move')
      input#stop(type='submit', method='POST', action='/', value='stop', name='move')
      input#reset(type='submit',method='POST',action='/', value='startreset', name='move')
container
  div(id='grid')
      each val in display
           != val
           br
script.
  let starter
  const run = document.getElementById('start')
  const stop = document.getElementById('stop')
  const setStarter = function () {
    starter = setInterval(clicker, 2000)
    }
  const clicker = function () {
    run.click()
  }
  const stopStarter = function () {
    clearInterval(starter)
  }
  run.addEventListener('click', setStarter())
  stop.addEventListener('click', stopStarter)
