doctype html

head
  meta(charset='utf-8')
  link(rel='stylesheet', href='./stylesheets/style.css')
  title Game_of_Life
h1 GAME OF LIFE
form(action='/',method='POST')
      input#reset(type='submit', method='POST', action='/', value='startreset', name='move')
      input#make(type='submit',method='POST', action='/', value='make', name='move')
container
  #grid
