@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300);

body{

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	color:#585858;
	font-weight: 300;
	margin-left: 50px;
}


 .red{  fill: #50f442;
      }

 .blue{  fill: #585858 ;
     }

 container{
   text-align: center;
   max-width:100%;

 }

 #grid{
   display: inline-block;
   text-align: center;
   max-width:100%;
   margin-left: 110px;
   line-height: 0;
   font-size: 0;
 }


h1{
	float: none;
	padding: 10px 0;
	font-size: 30px;
	font-weight:500px;
}

input,
textarea {
  border:none;
  width: 20%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 3px;
}

input[type="submit"] {

	background-color: #585858;
	color: #fff;

	cursor: pointer;
}
